/*------ALLGEMEIN-------*/

:root {
    --very_dark_blue: hsl(230, 29%, 20%);
    --dark_blue: hsl(230, 11%, 40%);
    --blue: hsl(231, 7%, 65%);
    --light_blue: hsl(207, 33%, 95%);
}

body {
    font-size: 18px;
    font-family: Barlow;
    font-weight: 400;
    color: var(--very_dark_blue);
    margin: 10% 10% 10% 10%;
}

/*------FARBE-------*/

.blue {
    color: var(--blue);
    letter-spacing: 0.2em;
    font-size: 12px;
    font-stretch: condensed;
}

.dark_blue {
    color: var(--dark_blue);
}

/*------SCHRIFT-------*/

button, h1, ul {
    font-family: Barlow Condensed;
}

h1 {
    font-size: 30px;
}

p {
    font-size: 16px;
    line-height: 1.5rem;
}

.versal {
    text-transform: uppercase;
}

.bold {
    font-weight: 700;
}

.new_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30px;
    justify-content: flex-start;
    letter-spacing: 3px;
    align-items: center;
}

/*------NAVIGATION-------*/

ul {
    position: absolute;
    text-align: center;
    list-style-type: none;
    padding: 0;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 0px 23px -9px rgba(0,0,0,0.60);
    display: flex;
    flex-direction: column;
    -ms-flex-align: center;
    z-index: 10;
}

li {
    position: relative;
    width: auto;
    padding: 0;
    margin: 10px;
    text-align: center;
    font-weight: 700;
}

li a:link {
    font-weight: 700;
    text-decoration-line: none;
    color: var(--dark_blue);
}

li a:visited {
    color: var(--dark_blue);
}

li a:hover {
    color: var(--dark_blue);
}

li a:active {
    color: var(--blue);
}

.first-child {
    padding-top: 10px;
}

.last-child a:link {
    color: var(--blue);
}

.last-child a:visited {
    color: var(--blue);
}

.last-child a:active {
    color: var(--light_blue);
}

.last-child {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-top: var(--light_blue) 2px solid;
    width: auto;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    color: var(--blue);
}

/*------BILDER-------*/

.backgroundcontainer {
    width: auto;
}

.imagecontainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.logo {
    width: 20px;
    height: 20px;
    align-items: flex-start;
}

.PC {
    position: relative;
    padding: 30px 0 30px 0px;
    padding-top: 30px;
    z-index: 1;
    width: 150%;
}

#square {
    position: absolute;
    width: 47%; 
    height: 50%;
    background: var(--light_blue); 
    border-radius: 0 0 0 60px;
    top: 0;
    right: 0;
    z-index: 0;
}

/*------BUTTON-------*/

.cta_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    letter-spacing: 3px;
    align-items: center;
}

.b_rot {
    color: white;
    background-color: rgb(248, 104, 104);
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 20px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    border: solid black 0px;
    white-space: nowrap; 
}

.b_schwarz {
    color: white;
    background-color: var(--very_dark_blue);
    border: solid black 0px;
    border-radius: 20px;
    padding: 3px 10px;
    font-size: 12px;
    margin-right: 20px;
}

.invisible {
    display: none;
}

#menu {
    position: relative;
    width: 20px;
    height: 20px;
    align-items: flex-end;
    z-index: 2;
    border: none;
}

.background {
    background-image: url(./images/icon-close.svg);
    background-color: var(--light_blue);
}

.burger {
    position: relative;
    width: 20px;
    height: 20px;
    align-items: flex-end;
    z-index: 2;
    border: none;
    background-color: none;
}

.burger:focus {
    border: none;
    background: none;
    outline: none;
}



.contentcontainer {
    margin-top: 50px;
}
